/*스크린 사이즈별 설정*/

/*기본설정*/
background-attachment: fixed;
@media (orientation: landscape) {
    #promptTurn {
        display: block;
    }
}

@media (orientation: portrait) {
    #promptTurn {
        display: none;
    }
}

#promptTurn{
  text-align:center;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:fixed;
  font-size:3rem;
  background-color: rgb(21, 33, 56);


}
#promptTurn p{
    vertical-align:middle;
}
