/*스크린 사이즈별 설정*/

/*기본설정*/

body{
  background-color: rgb(21, 33, 56);
}
@media (orientation: landscape) {
    #promptTurn {
        display: block;
    }
}

@media (orientation: portrait) {
    #promptTurn {
        display: none;
    }
}

#promptTurn{
  position:sticky;
  text-align:center;
  min-height:100%;
  min-width:100%;
  margin:0;
  padding:0;
  position:fixed;
  font-size:3rem;
  background-color: rgb(21, 33, 56);
  vertical-align:middle;

}



main{

  width:0ph;
  height: 30ph;
  padding:0;

  text-align: center;

  color:white;
}

main h1{
  margin:3rem;
}

main p{
  margin:2rem;
}

main button.start{
  background-color:transparent;
  border: 2px solid white;
  border-radius:20px;
  padding: 0.8rem 2rem;
  color:white;

}


/*tablet : 768px 이상*/
@media (min-width: 768px){
  .title {font-size: 14px;}
}

/*laptop : 1020px 이상*/
@media (min-width: 1020px){
  .title {font-size: 14px;}
}
